<div class="row">

    <div class="caja-padre">
        <div class="contenedor">
            <h2>Habilidades</h2>
 <div class="skills">
    <div class="detalles">
        <span>html</span>
        <span>Muy buena</span>
    </div>
    <div class="menu">
        <div id="html-menu"></div>
    </div>
 </div>
 <div class="skills">
    <div class="detalles">
        <span>css</span>
        <span>Muy buena</span>
    </div>
    <div class="menu">
        <div id="css-menu"></div>
    </div>
 </div>
 <div class="skills">
    <div class="detalles">
        <span>Javascript</span>
        <span>Buena</span>
    </div>
    <div class="menu">
        <div id="javascript-menu"></div>
    </div>
 </div>
 <div class="skills">
    <div class="detalles">
        <span>Angular</span>
        <span>Buena</span>
    </div>
    <div class="menu">
        <div id="angular-menu"></div>
    </div>
</div>
</div>
