<div class="row" >
    <div class="col"><img src="../assets/imagenes/banner.png" class="img-fluid"  alt="banner"></div>
  </div>

  <div class="linea"></div>

  <!--DESCRIPCION Y FOTO-->
  <div class="row" >
    <div class="col-2"><img class="foto" src="../assets/imagenes/lio.jpg" alt=""> </div>
    <div class="col-2"><p>{{miportfolio.name}} <br> {{miportfolio.position}}</p>
  </div>
    <div class="col-8"><h3 class="acerca">Acerca de mi</h3> En este camino de la programacion , mis objetivos apuntan al perfecionamiento 
      en el desarrollo de paginas y aplicaciones web. <img  id="edit" style="display:none" class="button" src="/src/assets/iconos/archivo-de-registro.png" alt="">
      <input id="acerca" oninput="" type="text" style="display: none;">
    
  </div>
  </div>

  <div class="linea"></div>