<div class="row"> 
    <div class="col" ><img  class="img" src="../assets/imagenes/arg.png" alt="Logo Argentina programa"></div>

    <div class="lineav"></div>

    <div class="col"> <a class="button" href="">ES</a>|<a class="button" href="">EN</a> <p class="bv">{{miportfolio.name}}</p> </div>

    <div class="lineav"></div>

    <div class="col"> <a id="arribaf" href="https://www.facebook.com/profile.php?id=100089864157938"><img class="button" src="../assets/iconos/facebook.png"  alt=""></a>

    <a id="arribai" href="https://www.instagram.com/ldavidna/"> <img class="button" src="../assets/iconos/instagram.png" alt="" ></a> <div style="text-align: center;"> SEGUIME PARA VER MAS </div></div>

    <div class="lineav"></div>

    <div class="col"><a class="button" href="login.html" ><div style="text-align: center;" >LOGIN</div></a></div>

  </div>