<div class="row">
    <div style="font-family: 'Trebuchet MS'">
<div id="carouselExample" class="carousel slide">
         <div class="carousel-inner">  
          <div class="carousel-item active">
            <img src="" class="d-block w-100" alt="">
            <div style="color: white;">
            </div>
         Experiencia Laboral
    <p>Soporte tecnico en infraestructura informatica</p>
    <p>Toolsoft SRL</p>
    <p>2022-actualidad</p>

    <li> Soporte remoto y prencial</li>
    <li> Instalacion de cableado utp</li>
    <li> Instalacion de sistemas operativos windows y linux</li>
    <li> Configuracion vpn</li>
    <li> Instalacon y configuracion de impresoras de red y telefonos ip</li>
    <li> Configuracion de administrador de correos</li>
<br>
    <p>Encargado de deposito y mantenimiento de equipo informatico</p>
    <p>Distribuidora Fedmart SRL</p>
    <p>2014-2022</p>
    <li>Manejo de sistema de gestion Presea Neuralsoft</li>
    <li>Control de ingreso de mercaderia y coordinacion de logistica</li>
    <li>Mantenimiento de computadoras</li>
    <li>Mantenimiento de impresoras y etiquetadora</li>
    <li>Armado de puestos informaticos</li>
    <li>Tendido de cableado de red</li>
<br>
    <p>Tecnico en reparacion de computadoras</p>
    <p>Autonomo></p>
    <p><2009-Actualidad</p>
<li>Instalacion de sistema operativo windows</li>
<li>Cambio de piezas de pc</li>
<li>Cambio de piezas de notebook y netbook</li>
<li>Reparacion electronica en mother</li>
<li>Instalacion de software</li>
<li>Armado de pc a pedido</li>
</div>

          </div>
          <div class="carousel-item">
            <img src="" class="d-block w-100" alt="">
            <p>Educacion</p>
    <p>ICI Instituto de capacitacion integral</p>
    <p>2009-2010</p>
    <li>Título: Técnico en reparación de computadoras</li>
    <br><br><br>
    <p>Escuela secundaria  N° 3035 Nuestra Sra. del Valle</p>
    <p>2000-2004</p>
    <li>Título: Economía y gestión de las organizaciones</li>
    <br><br><br>
    <p>Escuela primaria Republica de Lituania></p>
    <p>1991-1999</p>
    <br><br><br>
          
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev"  >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

      </div> 
</div>
